/* 
    Pink1: #ffafcc
    Pink2: #ffc8dd
    Blue1: #bde0fe
    Blue2: #a2d2ff
    Purple: #cdb4db 
 */

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Lato:wght@300;400;700&display=swap');

/* font-family: 'Lato', sans-serif;
  font-family: 'Fuzzy Bubbles', cursive;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #ffafcc;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23bde0fe' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: 'Lato', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  background-image: linear-gradient(to bottom right, #ffafcc 30%, #ffc8dd);
  z-index: 12;
}

.welcome-container.hide {
  display: none;
}

.main-heading {
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 7.2rem;
  letter-spacing: -5px;
  margin-bottom: 2rem;
}

.container {
  /* width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: peachpuff; */
  /*z-index: 10; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.3);
  width: 600px;
  overflow: hidden;
}

.title-text {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.quiz-header {
  padding: 4rem;
  position: relative;
}

.question-txt {
  padding: 1rem;
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.questions {
  list-style-type: none;
}

.question-item {
  margin: 1.6rem 0;
  font-size: 1.6rem;
  /* padding: 2rem; */
  border-radius: 11px;
  display: flex;
  border: 1px solid transparent;
}

.question-item input {
  display: none;
}

.question-item input:checked ~ label {
  background-color: green;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.question-item label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 11px;
  cursor: pointer;
  /* margin-left: 1rem; */
}

.question-item:hover {
  /* background-color: #ddd; */
  border-color: green;
  color: green;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.welcome-btn,
.submit-btn {
  /* position: absolute; */
  background-color: #cdb4db;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  padding: 1.9rem;
  border-radius: 11px;
  display: block;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.submit-btn {
  position: absolute;
  position: relative;
  bottom: 0;
  /* left: 50%;
  transform: translateX(-50%);
  width: 80%; */
}

.welcome-btn {
  width: 10rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  font-size: 2rem;
}

.submit-btn span {
  /* position: relative; */
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  z-index: 100;
  transition: all 0.1s 0.3s linear;
}

.submit-btn:hover span {
  color: red;
  transition: all 0.1s 0.1s linear;
}

/* style quiz  */

/* Ripple effect style and keyframe animation */
.ripple {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #e7be08;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: rippleAnimation 0.5s ease-in forwards;
  opacity: 0.2;
}

@keyframes rippleAnimation {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 310%;
    height: 310%;
  }
}
